.inputs {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 1rem 0;

  > * {
    width: 180px;
  }
}

flipper-card-content {
  display: grid;
  justify-content: flex-end;
  gap: 1rem;

}
