<app-example-new></app-example-new>
<app-example-with-flipper></app-example-with-flipper>
<section>
  <a href="https://v15.material.angular.io/" mat-button target="_blank">Material documentation
    <mat-icon svgIcon="external-link"></mat-icon>
  </a>
  <a href="https://flipper.agicap.cloud/?path=/docs/introduction-welcome--page" mat-button target="_blank">Flipper
    storybook
    <mat-icon svgIcon="external-link"></mat-icon>
  </a>
  <a href="https://flipper.agicap.cloud/?path=/docs/foundations-icons-demo--demo" mat-button target="_blank">Flipper
    Icons and illustrations
    <mat-icon svgIcon="external-link"></mat-icon>
  </a>
  <a href="https://flipper.agicap.cloud/?path=/docs/introduction-contribution--page" mat-button target="_blank">Flipper
    contribution
    <mat-icon svgIcon="external-link"></mat-icon>
  </a>
</section>
