<div class="inputs">
  <mat-slide-toggle [(ngModel)]="flexColumn">flex-direction: column</mat-slide-toggle>
  <mat-form-field appearance="outline">
    <mat-label>justify-content</mat-label>
    <mat-select [(ngModel)]="justifyContent">
      <mat-option value="flex-start">flex-start</mat-option>
      <mat-option value="center">center</mat-option>
      <mat-option value="flex-end">flex-end</mat-option>
      <mat-option value="space-around">space-around</mat-option>
      <mat-option value="space-between">space-between</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>align-items</mat-label>
    <mat-select [(ngModel)]="alignItems">
      <mat-option value="flex-start">flex-start</mat-option>
      <mat-option value="center">center</mat-option>
      <mat-option value="flex-end">flex-end</mat-option>
      <mat-option value="stretch">stretch</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>gap</mat-label>
    <input matInput type="number" [(ngModel)]="gap"  >
    <span matTextSuffix>rem</span>
  </mat-form-field>
</div>
<flipper-card>
  <flipper-card-content>

    <footer style="justify-content: {{justifyContent}}; align-items: {{alignItems}}; gap: {{gap}}rem" [class.flex-column]="flexColumn">
      <button color="accent" mat-stroked-button>
        Cancel
      </button>
      <button color="primary" mat-raised-button>
        Validate
      </button>
    </footer>
  </flipper-card-content>
</flipper-card>
