<div class="modalContent">
  <div class="header col-xs-12">
    <div class="title">
      <span>Dialog header</span>
    </div>
  </div>

  <div class="content row mb-2">
    <div class="col col-xs-4">
      <p class="label">
        Input label
        <br />
      </p>
    </div>
    <div class="col col-xs-8">
      <input type="date" />
    </div>
  </div>
  <div class="row mb-4">
    <div class="col col-xs-4">
      <p class="decouvert">
        <span>Value in €:</span>
      </p>
    </div>
    <div class="col col-xs-8">
      <input type="number" />
    </div>
  </div>
  <div class="footer">
    <button class="floatRight ml-4">VALIDATE</button>
    <button class="floatRight">CANCEL</button>
    <div class="clear"></div>
  </div>
</div>
