:host {
  padding: 16px;
  border: 1px solid #000;
  border-radius: 4px;
}

.header {
  margin-bottom: 8px;
}

.main{
  .content{
    margin-bottom: 8px;
  }
}

.title {
  font-size: 28px;
}

.floatRight {
  float: right;
}

.clear {
  clear: both;
}

.footer {
  margin-top: 8px;
}
