<!--&lt;!&ndash;Text interpolation&ndash;&gt;-->
<!--<button mat-stroked-button>{{ label }}</button>-->

<!--&lt;!&ndash;Text interpolation with function&ndash;&gt;-->
<!--<button mat-stroked-button>{{ labelToDisplay() }}</button>-->

<!--&lt;!&ndash;Property binding&ndash;&gt;-->
<!--<button mat-stroked-button [disabled]="true">{{ label }}</button>-->

<!--&lt;!&ndash;Event binding&ndash;&gt;-->
<!--<button mat-stroked-button (click)="toggleValue($event)">{{ label }}</button>-->

<!--&lt;!&ndash;Two way binding&ndash;&gt;-->
<!--<button mat-stroked-button (click)="toggleValue($event)">{{ label }}</button>-->

<!--&lt;!&ndash;Attribute binding&ndash;&gt;-->
<!--<button mat-stroked-button (click)="toggleValue($event)"-->
<!--        [attr.data-test]="'Toggle button ' + toggle ? 'on' : 'off'">{{ label }}-->
<!--</button>-->

<!--&lt;!&ndash;Class binding&ndash;&gt;-->
<!--<button mat-stroked-button (click)="toggleValue($event)"-->
<!--        [attr.data-test]="'Toggle button ' + toggle ? 'on' : 'off'" [class.flp-fw-800]="toggle">{{ label }}-->
<!--</button>-->

<!--&lt;!&ndash;Style binding&ndash;&gt;-->
<!--<button mat-stroked-button (click)="toggleValue($event)"-->
<!--        [attr.data-test]="'Toggle button ' + toggle ? 'on' : 'off'" [class.flp-fw-800]="toggle"-->
<!--        [style.border-width.px]="toggle ? 3: 1">{{ label }}-->
<!--</button>-->

<!--&lt;!&ndash;Content projection&ndash;&gt;-->
<!--<button mat-stroked-button (click)="toggleValue($event)"-->
<!--        [attr.data-test]="'Toggle button ' + toggle ? 'on' : 'off'" [class.flp-fw-800]="toggle"-->
<!--        [style.border-width.px]="toggle ? 3: 1">-->
<!--    <ng-content></ng-content>-->
<!--</button>-->
