<button mat-stroked-button>
    Test
</button>

<!--Text interpolation-->
<!--<button mat-stroked-button>{{ label }}</button>-->

<!--Text interpolation with function-->
<!--<button mat-stroked-button>{{ labelToDisplay() }}</button>-->

<!--Property binding-->
<!--<button mat-stroked-button [disabled]="true">{{ label }}</button>-->

<!--Event binding-->
<!--<button mat-stroked-button (click)="toggleValue($event)">{{ label }}</button>-->

<!--Two way binding-->
<!--<button mat-stroked-button (click)="toggleValue($event)">{{ label }}</button>-->

<!--Attribute binding-->
<!--<button mat-stroked-button (click)="toggleValue($event)"-->
<!--        [attr.data-test]="'Toggle button ' + toggle ? 'on' : 'off'">{{ label }}-->
<!--</button>-->

<!--Class binding-->
<!--<button mat-stroked-button (click)="toggleValue($event)"-->
<!--        [attr.data-test]="'Toggle button ' + toggle ? 'on' : 'off'" [class.flp-fw-800]="toggle">{{ label }}-->
<!--</button>-->

<!--Style binding-->
<!--<button mat-stroked-button (click)="toggleValue($event)"-->
<!--        [attr.data-test]="'Toggle button ' + toggle ? 'on' : 'off'" [class.flp-fw-800]="toggle"-->
<!--        [style.border-width.px]="toggle ? 3: 1">{{ label }}-->
<!--</button>-->

<!--Content projection-->
<!--<button mat-stroked-button (click)="toggleValue($event)"-->
<!--        [attr.data-test]="'Toggle button ' + toggle ? 'on' : 'off'" [class.flp-fw-800]="toggle"-->
<!--        [style.border-width.px]="toggle ? 3: 1">-->
<!--    <ng-content></ng-content>-->
<!--</button>-->

