<flipper-card>
  <flipper-card-header>
    <flipper-card-title>New transaction</flipper-card-title>
  </flipper-card-header>

  <flipper-card-content>

    <mat-form-field appearance="outline">
      <mat-label>Billing date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Amount">
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon svgIcon="calendar"></mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input matInput [value]="transactionAmount" placeholder="Amount" type="number">
      <span matTextSuffix>€</span>
    </mat-form-field>

    <div>
      <p>{{ transactionAmount }}</p>
      <span>{{ transactionDate }}</span>
    </div>

    <footer>
      <button color="accent" mat-stroked-button>
        Cancel
      </button>
      <button color="primary" mat-raised-button>
        Validate
      </button>
    </footer>
  </flipper-card-content>
</flipper-card>
