<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>Inputs and outputs</mat-expansion-panel-header>
        <div class="wrapper">
            <section>
        <pre class="language-html"><code
        >{{ componentTemplate }}</code></pre>
            </section>
            
            <app-transaction-form (validate)="validate()" [billingDate]="billingDate"
                                  transactionAmount="{{transactionAmount}}"></app-transaction-form>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>Content projection</mat-expansion-panel-header>

        <div class="wrapper">
            <section>
        <pre class="language-html"><code
        >{{ contentProjectionTemplate }}</code></pre>
            </section>

            <app-my-card>
                <div title>Title</div>
                <div class="content">Content</div>
            </app-my-card>
        </div>
    </mat-expansion-panel>
</mat-accordion>


<mat-snack-bar-container></mat-snack-bar-container>
