:host {
  padding: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  display: grid;
  gap: 1rem;

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  footer {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}
