@use '@agicap/flipper' as flipper;

@include flipper.flipper_default_theme(false, ':root');
@import './prismjs/themes/prism-okaidia';


mat-expansion-panel-header {
  padding: 1rem !important;
  border: 1px solid var(--flipper-grey-200) !important;
  color: var(--flipper-grey-900)
}

.background-blue {
  background: var(--flipper-primary-700);
}
